@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        background-image: url('/res/background.png');
        background-position: 300px;
        background-size: 1920px 1008px;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }
    .title {
        font-size: 70px;
        font-weight: 600;
        margin-bottom: 20px;
        color: black;
    }

    .title span.green {
        color: #4FA577;
    }

    .paragraph {
        font-size: 26px;
        line-height: 1.6;
        margin-bottom: 40px;
    }

    p{
        font-size: 26px;
    }

    .trusted-by {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        color: black;
        font-weight: 700;
    }

    .providers {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .providers img {
        width: 150px; 
        height: auto;
    }

    .mission-title {
        font-size: 45px;
        color: #3bb433;
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight:700;
        text-align: left;
    }

</style>

<div class="container">
    <br />
    <br />
    <br />
    <div class="title">
        Powering Agriculture with <span class="green">Clean Energy</span>
    </div>
    <div class="paragraph">
        At AgriEnergyConnect, we are pioneering sustainable energy solutions for South Africa's agricultural sector. Our
        platform connects farmers with renewable energy providers, enabling cost-effective and environmentally friendly
        farming practices. By bridging the gap between agriculture and clean energy, we're creating a more sustainable
        future for farming communities across the nation.
    </div>
    <br />
    <br />
    <br />
    <div class="trusted-by">
        Trusted by local providers
    </div>
    <br />
    <div class="providers">
        <img src="/res/pnp.png" alt="Pick n Pay Stores" class="fade-in">
        <img src="/res/sappi.png" alt="Sappi" class="fade-in">
        <img src="/res/sasol.png" alt="Sasol " class="fade-in">
        <img src="/res/shoprite.png" alt="Shoprite " class="fade-in">
        <img src="/res/capitec.png" alt="Capitec Bank" class="fade-in">
    </div>
    <br />
    <br />
    <div class="mission-title">
        We're on a mission to power South African<br/>
        agriculture with renewable energy
    </div>
    <div class="mission-paragraph">
        Our goal at AgriEnergyConnect is to revolutionize farming through sustainable energy solutions. We connect
        farmers with renewable energy providers, offering cost-effective alternatives to traditional power sources.
        Through our platform, we're reducing operational costs, minimizing environmental impact, and ensuring energy
        security for South African farms. Join us in creating a more sustainable and energy-efficient agricultural
        sector.
    </div>
</div>
