@page
@model AgriEnergyConnectPlatform.Pages.Products.CreateModel

@{
ViewData["Title"] = "Create";
}

<style>
    .card {
        width: 300px;
        max-height: 700px;
        background-color: rgba(255, 255, 255);
        backdrop-filter: blur(2px);
        color: black;
        margin-bottom: 10px;
    }

    .card-body {
        max-height: 400px;
        color: black;
    }

    .card-img-top {
        max-height: 400px;
        object-fit: cover;
    }

    h1 {
        padding-top: 64px;
        color: darkorange;
        font-weight:700;
        font-size:50px;
    }

    h4 {
        color: yellowgreen;
        font-weight: 700;
        font-size: 30px;
    }
    h3 {
        color: yellowgreen;
        font-weight: 700;
        font-size: 20px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>

<h1>Create New Product</h1>
        
    <h3>Enter the product details</h3>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Product.Category" class="control-label"></label>
                <input asp-for="Product.Category" class="form-control" />
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Quantity" class="control-label"></label>
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductionDate" class="control-label"></label>
                <input asp-for="Product.ProductionDate" class="form-control" />
                <span asp-validation-for="Product.ProductionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Rating" class="control-label"></label>
                <input asp-for="Product.Rating" class="form-control" />
                <span asp-validation-for="Product.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
