@page
@using AgriEnergyConnectPlatform.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@model Register

@{
    ViewData["Title"] = "Register";
}

<style>
    body {
        background-image: url('/res/background.png');
        background-position: 300px;
        background-size: 1920px 1008px;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
    }

    .container {
        min-width: 900px;
        width: max-content;
        margin: 0 auto;
        padding-top: 50px;
    }

    .row {
        display: flex;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    h1 {
        text-align: center;
        color: #4FA577;
        font-size: 40px;
        margin-bottom: 10px; 
    }

    h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        background-color: rgba(255, 255, 255, 0.9); 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btn-primary {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #3BB433FF;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #3BB433FF;
        }

    a {
        display: block;
        text-align: center;
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<div class="container">
    <h1>Register</h1>
    <form method="post">
        <div class="row">
            <div class="col-md-5" style="width: 50%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Credential.Email"></label>
                    <input asp-for="Credential.Email" class="form-control">
                    <span asp-validation-for="Credential.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.Password"></label>
                    <input asp-for="Credential.Password" class="form-control">
                    <span asp-validation-for="Credential.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.PasswordConfirm"></label>
                    <input asp-for="Credential.PasswordConfirm" class="form-control">
                    <span asp-validation-for="Credential.PasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.Names"></label>
                    <input asp-for="Credential.Names" class="form-control">
                    <span asp-validation-for="Credential.Names" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.Surname"></label>
                    <input asp-for="Credential.Surname" class="form-control">
                    <span asp-validation-for="Credential.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.PhoneNumber"></label>
                    <input asp-for="Credential.PhoneNumber" class="form-control">
                    <span asp-validation-for="Credential.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-check mt-1 mb-2">
                    <input type="checkbox" asp-for="Credential.Terms" class="form-check-input">
                    <label asp-for="Credential.Terms" class="form-check-label"></label>
                    <span asp-validation-for="Credential.Terms" class="text-danger"></span>
                </div>
                <div class="form-check mt-1 mb-2">
                    <input type="checkbox" asp-for="Credential.RememberMe" class="form-check-input">
                    <label asp-for="Credential.RememberMe" class="form-check-label"></label>
                </div>
            </div>
            <div class="col-md-4" style="width: 50%">
                <div class="form-group">
                    <label asp-for="Credential.StreetAddress"></label>
                    <textarea asp-for="Credential.StreetAddress" class="form-control"></textarea>
                    <span asp-validation-for="Credential.StreetAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.City"></label>
                    <input asp-for="Credential.City" class="form-control">
                    <span asp-validation-for="Credential.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.Province"></label>
                    <input asp-for="Credential.Province" class="form-control">
                    <span asp-validation-for="Credential.Province" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.PostalCode"></label>
                    <input asp-for="Credential.PostalCode" class="form-control">
                    <span asp-validation-for="Credential.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credential.UserRole"></label>
                    <select asp-for="Credential.UserRole" asp-items="Html.GetEnumSelectList<UserRole>()" class="form-control"></select>
                    <span asp-validation-for="Credential.UserRole" class="text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
        
        <div class="mt-3 flex-column d-flex justify-content-center align-items-center">
            <p>Already have an account? <a asp-page="/Auth/Login">Login here</a></p>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}