@page
@using AgriEnergyConnectPlatform.Models
@model EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .card {
        width: 300px;
        max-height: 700px;
        background-color: rgba(255, 255, 255);
        backdrop-filter: blur(2px);
        color: black;
        margin-bottom: 10px;
    }

    .card-body {
        max-height: 400px;
        color: black;
    }

    .card-img-top {
        max-height: 400px;
        object-fit: cover;
    }

    h1 {
        padding-top: 64px;
        color: darkorange;
        font-weight:700;
        font-size:50px;
    }

    h4 {
        color: yellowgreen;
        font-weight: 700;
        font-size: 30px;
    }
    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
</style>

<h1>@Html.DisplayFor(model => model.AppUser.FullName)'s Edit</h1>

<h4>Farmer Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppUser.Id" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="AppUser.Email" class="control-label"></label>
                <input asp-for="AppUser.Email" class="form-control" />
                <span asp-validation-for="AppUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="AppUser.UserRole" class="control-label"></label>
                <select asp-for="AppUser.UserRole" asp-items="Html.GetEnumSelectList<UserRole>()" class="form-control"></select>
                <span asp-validation-for="AppUser.UserRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="AppUser.Names" class="control-label"></label>
                <input asp-for="AppUser.Names" class="form-control" />
                <span asp-validation-for="AppUser.Names" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="AppUser.Surname" class="control-label"></label>
                <input asp-for="AppUser.Surname" class="form-control" />
                <span asp-validation-for="AppUser.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="AppUser.PhoneNumber" class="control-label"></label>
                <input asp-for="AppUser.PhoneNumber" class="form-control" />
                <span asp-validation-for="AppUser.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppUser.StreetAddress" class="control-label"></label>
                <input asp-for="AppUser.StreetAddress" class="form-control" />
                <span asp-validation-for="AppUser.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group visually-hidden">
                
                <label asp-for="AppUser.PasswordHash" class="control-label"></label>
                <input asp-for="AppUser.PasswordHash" class="form-control" />
                <span asp-validation-for="AppUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppUser.City" class="control-label"></label>
                <input asp-for="AppUser.City" class="form-control" />
                <span asp-validation-for="AppUser.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppUser.Province" class="control-label"></label>
                <input asp-for="AppUser.Province" class="form-control" />
                <span asp-validation-for="AppUser.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="AppUser.PostalCode" class="control-label"></label>
                <input asp-for="AppUser.PostalCode" class="form-control" />
                <span asp-validation-for="AppUser.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
